<footer class="bg-light text-center text-lg-start">
    <!-- <div class="container p-4"> -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        <h5 class="text-uppercase">Watchity Prueba Tecnica</h5>
        <p>
            Prueba técnica, para la empresa Watchity, para posición de desarrollador Angular. Realizada:
            <strong>En Barcelona: </strong> El <i> 25 de Febrero de 2021</i>
        </p>
        © 2021 José Sánchez Díez
    </div>
    <!-- </div> -->
</footer>